.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fb8db7;
  font-family: "Poppins", sans-serif;
}

.header h1 {
  font-family: "Pacifico", cursive;
  font-size: 2.5rem;
  color: #fb8db7;
  text-shadow: 2px 2px 4px rgba(145, 3, 3, 0.3);
}
.header h2 {
  font-family: "Pacifico", cursive;
  color: #ff8fb0;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(145, 3, 3, 0.3);
  margin: 0;
}
.header h3 {
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: #d87093;
}
.header p {
  font-size: 0.8rem;
  color: #da77aa;
}

#link {
  background-color: pink;
  color: white;
  border: none;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
  text-decoration: none;
}

#link:hover {
  background-color: #f380b9;
  color: white;
  cursor: pointer;
  border: #fb8db7;
  border-radius: 0.25rem;
  font-size: larger;
}
